# Ignore build artifacts
/build/

# Ignore Cargo target directory
/target/

# Ignore Rust/Cargo lock files (optional if you commit Cargo.lock)
/**/*.lock

# Ignore editor files
*.swp
*.swo
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Ignore OS-specific files
.DS_Store
Thumbs.db
